.nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav img{
    width: 80px;
    height: 80px;
}
.icon{
    cursor: pointer;
    font-size: 40px;
    margin: 10px;
}
.icon:hover{
    color: rgb(93, 152, 201);
}
.login{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HomeIcon{
    font-size: 30px;
}
.link{
    font-weight: 500;
    color: black;
    text-decoration: none;
    list-style: none;
}